body {
    font-family: 'Verdana', sans-serif;
  }
  
  svg{
    position: relative;
    background-color: #000000;
    z-index:0;
  }
  
  #controls{
    position: absolute;
    top:10px;
    left:10px;
    z-index:1;
    color:white;
  }
  
  #id2{
    position: absolute;
    bottom:10px;
    left:10px;
    font-size:26px;
    z-index:1;
    color:red;
  }
    
  img{
    position: absolute;
    top:10px;
    right:-60px;
    z-index:1;
    height:70px
  }
  
  button, input{
      display: inline-block;
  }
  
  .nodes, .labels:hover{
    cursor: pointer;
  }
  
  input[type="range"]::-webkit-slider-thumb:hover{
   cursor: pointer;
  }
  a:link { color: darkblue; border-bottom: none;}
  a:visited { color: #0b0080; border-bottom: none;}
  a:hover { background: #0b0080; color: white; border-bottom: none;}